* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --light-grey: #dedede;
  --dark-grey: #bababa;
  --app-height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.slide-element {
  height: 100vh;
  display: flex;
  align-items: center; /* main axis */
  justify-content: center; /* cross axis */
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.scroll-down-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: max-content;
  bottom: 5vh;
}

div.scroll-down-arrow p {
  font-size: 10px;
}

.light-grey {
  color: var(--light-grey);
}

.dark-grey {
  color: var(--dark-grey);
}

/* Why Section */
div.reason {
  display: flex;
  flex-direction: column;
}

div.reason h1.light-grey {
  position: relative;
  top: 10px;
}

/* Stuff I've done */
.showcase-mockup > img {
  width: 300px;
}

body {
  color: black;
}

* {
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Padding */
.ps {
  padding: 5px;
}

.pm {
  padding: 20px;
}

/* Colors */
.disabled {
  color: var(--dark-grey);
}

.contact-link {
  position: absolute;
  top: 2vh;
}

/* Panel Styling */

.fadeInOut {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fadeOut {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fadeIn {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MODAL */

.modal {
  display: none;
  background-color: #fefefe;
  margin-top: 15px;
  width: 30%;
  min-width: 300px;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-content {
  text-align: center;
  padding: 20px 30px 30px 30px;
}

/* The Close Button */
.close {
  position: relative;
  top: 10px;
  right: 20px;
  color: var(--light-grey);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* .fadeInOut.active{
  pointer-events: auto;
} */

/* span.gd:hover{
  cursor: hand;
}
?? */

/* @media (max-width: 480) {
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
} */
