* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}


:root {
  --black: #000000;
  --white: #ffffff;
  --light-grey: #dedede;
  --dark-grey: #bababa;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.slide-element {
  height: 100vh;
  display: flex;
  align-items: center; /* main axis */
  justify-content: center; /* cross axis */
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.scroll-down-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: max-content;
  bottom: 5vh;
}

div.scroll-down-arrow p {
  font-size: 10px;
}


.light-grey {
  color: var(--light-grey);
}

.dark-grey {
  color: var(--dark-grey);
}

/* Why Section */
div.reason {
  display: flex;
  flex-direction: column;
}

div.reason h1.light-grey {
  position: relative;
  top: 10px;
}

/* Stuff I've done */
.showcase-mockup > img{
width: 300px;
}



body {
  color: black;
}

* {
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Padding */
.ps {
  padding: 5px;
}

.pm{
  padding: 20px
}

/* Colors */
.disabled{
  color: var(--dark-grey);
}

.contact-link{
  position: absolute;
  top: 2vh;
}